<!-- meta css info  -->
<%- include ../partials(css-js)/head %>

<%- include ../partials/Header %>

<%- include ../Background/bg %>

<!-- Terms of use -->
<div class="contact main-grid-border">
  <div class="container">
    <h2 class="head text-center">Contact Us</h2>
    <section id="hire">
      <form id="filldetails" action="/lien-he" method="post">
          <div class="field name-box">
            <input type="text" name="title" id="name" placeholder="Vui lòng nhập tiêu đề" maxlength="200" required/>
            <label for="title">Tiêu đề</label>
            <span class="ss-icon">check</span>
          </div>

          <div class="field name-box">
            <input type="text" name="name" id="name" placeholder="Tên bạn là gì ?" maxlength="200" required/>
            <label for="name">Họ tên</label>
            <span class="ss-icon">check</span>
          </div>

          <div class="field email-box">
            <input type="text" name="email" id="email" placeholder="example@email.com" required/>
            <label for="email">Email</label>
            <span class="ss-icon">check</span>
          </div>

          <div class="field phonenum-box">
            <input type="text" id="email" name="phone" placeholder="Số điện thoại của bạn" min="9" max="16" required/>
            <label for="email">Số điện thoại</label>
            <span class="ss-icon">check</span>
          </div>

          <div class="field msg-box">
            <textarea id="msg" rows="4" name="content" placeholder="Bạn gửi yêu cầu gì đến chúng tôi nào ..." maxlength="3000" required/></textarea>
            <label for="msg">Nội dung</label>
            <span class="ss-icon">check</span>
          </div>

  <input class="button" type="submit" value="Gửi" />
  </form>
</section>
    <script>
        $('textarea').blur(function () {
      $('#hire textarea').each(function () {
        $this = $(this);
        if (this.value != '') {
          $this.addClass('focused');
          $('textarea + label + span').css({ 'opacity': 1 });
        } else {
          $this.removeClass('focused');
          $('textarea + label + span').css({ 'opacity': 0 });
        }
      });
    });
    $('#hire .field:first-child input').blur(function () {
      $('#hire .field:first-child input').each(function () {
        $this = $(this);
        if (this.value != '') {
          $this.addClass('focused');
          $('.field:first-child input + label + span').css({ 'opacity': 1 });
        } else {
          $this.removeClass('focused');
          $('.field:first-child input + label + span').css({ 'opacity': 0 });
        }
      });
    });
    $('#hire .field:nth-child(2) input').blur(function () {
      $('#hire .field:nth-child(2) input').each(function () {
        $this = $(this);
        if (this.value != '') {
          $this.addClass('focused');
          $('.field:nth-child(2) input + label + span').css({ 'opacity': 1 });
        } else {
          $this.removeClass('focused');
          $('.field:nth-child(2) input + label + span').css({ 'opacity': 0 });
        }
      });
    });
    $('#hire .field:nth-child(3) input').blur(function () {
      $('#hire .field:nth-child(3) input').each(function () {
        $this = $(this);
        if (this.value != '') {
          $this.addClass('focused');
          $('.field:nth-child(3) input + label + span').css({ 'opacity': 1 });
        } else {
          $this.removeClass('focused');
          $('.field:nth-child(3) input + label + span').css({ 'opacity': 0 });
        }
      });
    });
    $('#hire .field:nth-child(4) input').blur(function () {
      $('#hire .field:nth-child(4) input').each(function () {
        $this = $(this);
        if (this.value != '') {
          $this.addClass('focused');
          $('.field:nth-child(4) input + label + span').css({ 'opacity': 1 });
        } else {
          $this.removeClass('focused');
          $('.field:nth-child(4) input + label + span').css({ 'opacity': 0 });
        }
      });
    });
    //@ sourceURL=pen.js
  </script>
  <script>
  let id_alert = document.getElementById("id_alert");
  if (document.location.search.match(/type=embed/gi)) {
  window.parent.postMessage("resize", "*");
  }
  document.getElementById("filldetails").reset();
  // setTimeout(function(){
  //   id_alert.style.display = "none";
  // },2000);
</script>
  </div>
</div>
<!-- // Terms of use -->
<%- include ../partials/Footer %>
<!-- js -->
<%- include ../partials(css-js)/foot %>
