<!-- meta css info  -->
<%- include ../partials(css-js)/head %>

<%- include ../partials/Header %>

<%- include ../Background/bg %>

  <!-- content-starts-here -->
  <div class="content">
    <div class="categories">
      <div class="container">
        <% type.forEach(function(myType) { %>
          <div class="col-md-3 focus-grid">
            <a href="/danh-muc/<%= myType._id %>">
              <div class="focus-border">
                <div class="focus-layout">
                  <div class="focus-image"><i class="<%= myType.Icon %>"></i></div>
                  <h4 class="clrchg"><%= myType.Title %></h4>
                </div>
              </div>
            </a>
          </div>
          <% }); %>
          <div class="clearfix"></div>
      </div>
    </div>
    <div class="trending-ads">
      <div class="container">
        <!-- slider -->
        <div class="trend-ads">
          <h2>Sản phẩm mới</h2>

          <ul id="new--product">
            <% for(var i = 0, qwe = products.length; i < parseInt(qwe/qwe); i++) {%>
              <li>
                <% products.forEach(function(myPros) { %>
                  <div class="col-md-3 biseller-column">
                    <a href="/chi-tiet-san-pham/<%= myPros._id %>">
                    <div class="img-Product" title="<%= myPros.Product_Name %>" style="Background: url('../images/<%= myPros.Img_Product %>') center center / contain no-repeat;"></div>
                    <span class="price">&#36; <%= myPros.Price %></span>
                  </a>
                    <div class="ad-info">
                      <h5><%= myPros.Product_Name %></h5>
                      <span><%= myPros.Create_at %></span>
                    </div>
                  </div>
                  <% }); %>
              </li>
              <% } %>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="text-center" style="padding: 35px 0 0;"><a href="/danh-muc/<%= one_type_id %>" class="btn btn-success">Xem thêm</a></div>
      </div>
      <!-- //slider -->
    </div>
  </div>
<hr>
<%- include ../partials/Footer %>

  <!-- js -->
  <%- include ../partials(css-js)/foot %>
